<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/message.css') }}"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{{ url_for('static', filename='js/message.js')|safe }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Send Message</title>
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <!-- Pass the URL as an argument to the redirectTo function -->
        <a
          class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0)"
          onclick="redirectTo('#')"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <!-- Pass the corresponding URLs for other buttons -->
        <a
          href="/base"
          class="w3-bar-item w3-button w3-padding-large"
          onclick="redirectTo('/')"
          >LOGOUT</a
        >
        <a
          href="/base"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/')"
          >HOME</a
        >
        <a
          href="/about"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/about')"
          >ABOUT</a
        >
        <a
          href="/message"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/message')"
          >MESSAGE</a
        >

        <a
          href="/profile"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/profile')"
          >PROFILE</a
        >

        <a
          href="javascript:void(0)"
          onclick="openSearchPopup()"
          class="w3-padding-large w3-hover-red w3-hide-small w3-right"
          ><i class="fa fa-search"></i
        ></a>
      </div>
    </div>

    <div class="container">
      <h1>Send Message</h1>
      <form method="POST" id="messageForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="receiver">Receiver</label>
          {{ form.receiver(class="form-control", id="receiver") }} {% for error
          in form.receiver.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          {{ form.content(class="form-control", id="content") }} {% for error in
          form.content.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <button type="submit" class="loginbtn">Send Message</button>
      </form>
    </div>

    <div class="container">
      <h2>Received Messages</h2>
      <ul class="messages-list">
        {% for message in messages %}
        <li class="message">
          From: <strong>{{ message.user_sender.username }}</strong>
          {{ message.content }}
          <div
            class="message-timestamp"
            data-timestamp="{{ message.timestamp }}"
          ></div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
