<!-- templates/user.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/user.css') }}"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <!-- Pass the URL as an argument to the redirectTo function -->
        <a
          class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0)"
          onclick=" return redirectTo('#')"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <!-- Pass the corresponding URLs for other buttons -->
        <a
          href="/base"
          class="w3-bar-item w3-button w3-padding-large"
          onclick="redirectTo('/')"
          >LOGOUT</a
        >
        <a
          href="/base"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/')"
          >HOME</a
        >
        <a
          href="/about"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/about')"
          >ABOUT</a
        >
        <a
          href="/message"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/message')"
          >MESSAGE</a
        >

        <a
          href="/profile"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/profile')"
          >PROFILE</a
        >
        <a href"/database" class="w3-bar-item w3-button w3-padding-large w3-hide-small" onclick="redirectTo('/database')">RELATIONS</a>
        <a
          href="/query"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/query')"
          >QUERIES</a
        >

        <a
          href="/ad_hoc"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          onclick="redirectTo('/ad_hoc')"
          >AD HOC QUERIES</a
        >

        <a
          href="javascript:void(0)"
          onclick="openSearchPopup()"
          class="w3-padding-large w3-hover-red w3-hide-small w3-right"
          ><i class="fa fa-search"></i
        ></a>
      </div>
    </div>
    <!-- Page content -->
    <div class="w3-content" style="max-width: 2000px; margin-top: 46px">
      <!-- Search Pop-up Window -->
      <div id="searchPopup" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal w3-center w3-padding-32">
            <span
              onclick="closeSearchPopup()"
              class="w3-button w3-teal w3-xlarge w3-display-topright"
              >&times;</span
            >
            <h2 class="w3-wide">
              <i class="fa fa-search w3-margin-right"></i>Search
            </h2>
          </header>
          <div class="w3-container">
            <input
              type="text"
              id="searchQuery"
              placeholder="Search by username or email"
            />
            <button onclick="performSearch()">Search</button>
            <div id="searchResults"></div>
            <!-- Display search results here -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!--h1>User Profile</h1>-->
      {% if profile_data %}
      <div class="profile">
        <!-- Replace 'profile_data.cover_photo' and 'profile_data.profile_picture' with appropriate fields from your Profile model -->
        <div class="cover-photo-container">
          <img
            class="cover-photo"
            src="{{ profile_data.profile.cover_photo }}"
            alt="Cover Photo"
          />
          <div class="fullname" id="fullName">{{ fullName }}</div>
          <div class="username">Username: @{{ profile_data.username }}</div>
        </div>
        <img
          class="profile-picture"
          src="{{ profile_data.profile.profile_picture }}"
          alt="Profile Picture"
        />
        <div class="profile-info-wrapper">
          <div class="profile-info">
            <div class="email">
              <strong>Email:</strong> {{ profile_data.email }}
            </div>
            <div class="bio">
              <strong>Bio:</strong> {{ profile_data.profile.bio }}
            </div>
            <div class="education">
              <strong>Education:</strong> {{ profile_data.profile.education }}
            </div>
            <div class="job">
              <strong>Job:</strong> {{ profile_data.profile.job }}
            </div>
            <div class="interests">
              <strong>Interests:</strong> {{ profile_data.profile.interests }}
            </div>
            <div class="join-date">
              <strong>Join Date:</strong> {{ profile_data.profile.join_date }}
            </div>
            <div class="last-active">
              <strong>Last Active:</strong> {{ profile_data.profile.last_active
              }}
            </div>
          </div>
        </div>
        <div class="groups">
          <div class="group-header">
            <strong>Groups:</strong>
          </div>
          <br />
          <ul>
            {% for group in profile_data.groups %}
            <li>
              <strong>({{ group.membercount }} members)<br /></strong>
              <u>{{ group.groupname }}</u> - {{ group.description }}
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="goal-header">
          <strong>Goals:</strong>
        </div>
        <div class="goals">
          <br />
          <ul>
            {% for goal in profile_data.goals %}
            <li>
              <strong>Frequency: {{ goal.frequency }}</strong> - {{ goal.content
              }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>

    <footer
      class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge"
    >
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </footer>

    <script>
      displayFullName();
    </script>
  </body>
</html>
