body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}
p {
  text-align: left;
  color: #555;
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: monospace;
}
.p2 {
  text-align: center;
  color: #555;
  font-size: 1.0rem;
  line-height: 1.6;
  font-family: monospace;
  margin-top: 20px;
}
.highlight {
  color: #4CAF50;
  font-weight: bold;
}
.link {
  color: #007bff;
  text-decoration: underline;
}
.team {
  text-align: center;
  margin-top: 30px;
}
.team-member {
  display: inline-block;
  margin: 0 20px;
}
.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px; 
  vertical-align: middle;
}
.team-member p {
  margin: 0;
}

  /* Style the search popup */
  #searchPopup {
    display: none; /* Hide the popup by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  }
  
  #searchPopup .w3-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 150%; /* Increase the width to 90% */
    max-width: 800px; /* Increase the max-width if needed */
  }
  
  /* Style the close button */
  #searchPopup .w3-modal-content .w3-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  /* Style the input and button */
  #searchPopup input[type="text"],
  #searchPopup button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  #searchPopup button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  #searchPopup button:hover {
    background-color: #45a049;
  }