body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #8ad78c, #407557); /* Set the gradient colors */
}
.container {
    max-width: 400px;
    margin: 180px auto; /* Adjust this margin-top value */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: monospace;
}
h1 {
    color: #333;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Added to include padding and border in width calculation */
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Add margin to the top */
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

.loginbtn {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Add margin to the top */
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* Style the search popup */
  #searchPopup {
    display: none; /* Hide the popup by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  }
  
  #searchPopup .w3-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 150%; /* Increase the width to 90% */
    max-width: 800px; /* Increase the max-width if needed */
  }
  
  /* Style the close button */
  #searchPopup .w3-modal-content .w3-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  /* Style the input and button */
  #searchPopup input[type="text"],
  #searchPopup button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  #searchPopup button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  #searchPopup button:hover {
    background-color: #45a049;
  }