
/* static/css/search.css */

.container  {
  max-width: 800px;
  margin: 0 auto;
  font-family: monospace;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
    font-family: monospace;
}
button:hover {
    background-color: #e4e4f4;
}
#searchResults {
    margin-top: 20px;
}
h2 {
    margin-bottom: 20px;
}
.profile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.cover-photo {
    width: 100%;
    height: 300px;
    height: auto;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
}
.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 40px;
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 20px;
  margin-left: 25px;
  z-index: 1;
  object-fit: cover;
}
.username {
  position: absolute;
  bottom: 250px;
  right: 40px; 
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.profile-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;  
  margin-top: 70px;
}
.info-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.info-item strong {
    display: block;
    font-weight: bold;
}
.info-item:last-child {
    border-bottom: none;
}
#searchPopup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
#searchPopup .w3-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 150%; 
    max-width: 800px; 
}
#searchPopup .w3-modal-content .w3-button {
    position: absolute;
    top: 20px;
    right: 20px;
}
#searchPopup input[type="text"],
#searchPopup button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
#searchPopup button {
    background-color: #4CAF50;
    color: white;
    border: none;
}
#searchPopup button:hover {
    background-color: #45a049;
}